<div class="s28_checkout h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div>     
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Step <span>03</span></h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h5 profile_label">
        <p>Your design has been added to cart</p>
    </div>
    <div class="col-12 h70 main empty-screen" ng-show="cart.items.length < 1">
        <img src="img/empty.svg">
    </div>
    <div class="col-12 h70 main" ng-show="cart.items.length > 0">
    <div class="col-6 h100 clothes-side">
        <div class="clothes-box h100 col-12">
            <img class="clothe-align-2" src="{{img_path + model.image_front}}" alt="Clothes">
        </div>
    </div>
    <div class="col-6 h100 desc-side">
       <div class="h30"></div>
       <div class="h40">
           <h3>Your total before taxes is:</h3>
           <h4>CAD$ {{cart.total}}</h4>
       </div>
       <div class="h15">
           <a class="btn-stroke-golden-lg" href="#checkoutlogin" ng-show="user === null || user === undefined">Check Out</a>
           <a class="btn-stroke-golden-lg" href="#deliveryaddress" ng-show="user !== null && user !== undefined">Check Out</a>
       </div>
       <div class="h15">
           <a href="#choosecategory" class="btn-fill-lightgray-lg" type="button">Continue Shopping</a>
       </div>
    </div>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>