<div class="col-12 h10 menu">
    <div class="h100 col-3">
        <a href="#dashboard" ng-show="user.logged && user !== null && user !== undefined">
            <img src="img/icon_home.svg" alt="Home">
        </a>
        <a href="#withoutlogin" ng-show="!user.logged || user === null || user === undefined">
            <img src="img/icon_home.svg" alt="Home">
        </a>
    </div>
    <div class="h100 col-3 selected">
        <a href="#chooseshape">
            <img src="img/icon_design.svg" alt="Design">
        </a>
    </div>
    <div class="h100 col-3">
        <a href="#closet" ng-show="user.logged && user !== null && user !== undefined">
            <img src="img/icon_closet.svg" alt="Closet">
        </a>
        <a href="#withoutlogin" ng-show="!user.logged || user === null || user === undefined">
            <img src="img/icon_closet.svg" alt="Closet" >
        </a>
    </div>
    <div class="h100 col-3">
        <a href="#contact">
            <img src="img/icon_contact.svg" alt="Contact">
        </a>
    </div>
</div>