<div class="s29_attempt_to_signup h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div>     
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Check Out</h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h5 profile_label">
        <p>You are not logged in <img src="img/icon_emoticon-3.png" alt="Sad"></p>
    </div>
    <div class="col-12 h70 main">
        <div class="btn-main-box">
            <div class="btn-box">
                <a class="btn-fill-gray-lg" href="#/signup">Sign up</a>
            </div>
            <div class="btn-box">
                <span class="user">Already a User?</span>
                <a class="btn-stroke-golden-lg" href="#/signin">Log In</a>
            </div>
            <div class="btn-box continue-guest">
                <a href="#/checkout">Check out as a guest</a>
            </div>
        </div>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>