<div class="s40_logged_checkout_5 h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div> 
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Check Out</h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h75 main">
        <div class="col-12 profile_label">
            <p>Review</p>
        </div>
        <div ng-repeat="item in cart.items" ng-show="cart.items.length > 0">
            <div class="clothes-item col-12">
                <div class="col-4 clothes-side">
                    <div class="clothes-box col-12">
                        <img class="clothe-align-2" ng-src="{{img_path + item.image_front}}" alt="Clothes">
                    </div>
                </div>
                <div class="col-8 data-side">
                    <div class="col-12 review-list">
                        <div class="main-item col-12">
                            <div class="col-9">
                                <h2>{{item.name}}</h2>
                            </div>
                            <div class="col-3 pright">
                                <h3>${{item.price}}</h3>
                            </div>
                        </div>
                        <div class="add-item col-12">
                            <div class="col-9">
                                <li>{{item.fname}}</li>
                            </div>
                            <div class="col-3 pright">
                                <h3>${{item.fprice}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 subtotal-list">
                        <div class="main-item col-12">
                            <div class="col-9">
                                <h2>Sub Total</h2>
                            </div>
                            <div class="col-3 pright">
                                <h3>${{item.price + item.fprice}}</h3>
                            </div>
                        </div>
                        <div class="add-item col-12">
                            <div class="col-9">
                                <li>HST</li>
                            </div>
                            <div class="col-3 pright">
                                <h3>${{ ((item.price + item.fprice)*hst).toFixed(2) }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="col-8 total-list">
                <div class="main-item col-12">
                <div class="col-8">
                    <h5>{{shippingDescription}}</h5>
                </div>
                <div class="col-4 pright">
                    <h5>${{shippingPrice}}</h5>
                </div>
                <div class="col-8">
                    <h3>Total:</h3>
                </div>
                <div class="col-4 pright">
                    <h3>{{ ((cart.total + shippingPrice)*(1+hst)).toFixed(2)}}</h3>
                </div>
            </div>
            </div>
        </div>
        <div class="col-12">
            <button href="#" class="btn-stroke-golden-bk-lg" type="button" ng-click="payment()">Place Order</button>
        </div>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>
