<div class="s64_shopping_cart_1 h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div>       
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Shopping Cart</h1>
        </div>
    </div>
    <div class="col-12 h75 main">
        <div class="col-12 h10">
            <div class="col-12 profile_label">
                <p>Shopping Cart</p>
            </div>
        </div>
        <div class="main-box col-12 h90">
            <div class="col-12 h100 empty-screen" ng-show="cart == undefined || cart.items.length < 1">
                <img src="img/empty.svg">
            </div>
            <div class="col-12" ng-repeat="item in cart.items">
                <div class="col-12 cart-item">
                    <div class="cart-delete">
                        <a ng-click="delete(item)">
                            <img src="img/icon_close.jpg" alt="Delete">
                        </a>
                    </div>
                    <div class="col-4 img">
                        <img ng-src="{{img_path + item.image_front}}" alt="Clothing">
                    </div>
                    <div class="col-8">
                        <div class="col-9 main-item">{{item.name}}</div>
                        <div class="col-3 main-item pright">${{item.price}}</div>
                        <div class="col-9 add-item">{{item.fname}}</div>
                        <div class="col-3 add-item pright">+ ${{item.fprice}}</div>
                        <div class="col-9 add-item" ng-show="giftOptions && giftOptions.wrapping">wrapping paper</div>
                        <div class="col-3 add-item pright" ng-show="giftOptions && giftOptions.wrapping">+ ${{wrappingPrice}}</div>
                    </div>
                </div>
            </div>
            <div class="col-12" ng-show="!$scope.showError && cart.items.length > 0">
                <a href="#deliveryaddress" class="btn-stroke-golden-bk-thin-lg" type="button">Check Out</a>
            </div>
        </div>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>
