<div class="s20_choose_fabric_2 h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div>    
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a href="#/listfabric">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Step <span>02</span></h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h5 profile_label">
        <p>Choose from {{ fabricType === 1 ? 'Solids' : fabricType === 2 ? 'Textures' : 'Prints' }}</p>
    </div>
    <div class="col-12 h55 main fabric-list">
        <div class="col-6 fabric-item" ng-repeat="fabric in fabrics track by fabric.id">
            <a ng-click="confirmFabric(fabric)">
                <img ng-src="{{img_path + fabric.icon}}" alt="Fabric">
                <h4>+ ${{fabric.price}}</h4>
            </a>
        </div>
    </div>
    <div class="col-12 h15 main fabric_menu">
        <div class="col-4">
            <a ng-click="listFabrics(3)" ng-class="{active: fabricType == 3}">
                <div class="item-box">
                    <img src="img/small-pt-02.jpg" alt="Print">
                    <h4>Prints</h4>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a ng-click="listFabrics(1)" ng-class="{active: fabricType == 1}">
                <div class="item-box">
                    <img src="img/mapp_solid.jpg" alt="Solids">
                    <h4>Solids</h4>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a ng-click="listFabrics(2)" ng-class="{active: fabricType == 2}">
                <div class="item-box">
                    <img src="img/mapp_texture.jpg" alt="Textures">
                    <h4>Textures</h4>
                </div>
            </a>
        </div>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>