<div class="s18_occasions h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div>     
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a href="#/confirmshape">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Step <span>01</span></h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h5 profile_label">
        <p>For what occasion?</p>
    </div>
    <div class="col-12 h70 main">
        <div class="col-12 h10"></div>
        <div class="col-12 h20" ng-repeat="occasion in occasions">
            <a ng-click="chooseOccasion(occasion)">
            <img ng-src="{{img_path + occasion.icon}}" alt="{{occasion.name}}" style="height:52px; width: 52px;">
            <h2>{{occasion.name}}</h2>
            </a>
        </div>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>