<div class="s42_closet_1 h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div>
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1><span>Your</span> Closet</h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h75 main">
        <div class="col-12 closet-header">
            <div class="col-8 profile">
                <h2 ng-show="user.first_name != null && user.first_name != undefined">
                    Hello, {{user.first_name}}
                </h2>
            </div>
            <div class="col-4 tools-box">
                <a class="tools user-menu-pill">
                    <img src="img/icon_tools.jpg" alt="Tools">
                </a>
                <a class="filter" rel="filter-modal">
                    <img src="img/icon_filter.jpg" alt="Filter">
                </a>
            </div>
        </div>
        <div class="col-12 closet-itens">
            <!-- !!! CLOSET ITEM !!! -->
                    <div class="col-6 closet-item" ng-repeat="clothes in closet">
                        <div class="col-12 clothing-item">
                            <a class="clothing-tool" rel="ci-modal" href="">
                                <img src="img/icon_tools.jpg" alt="Tools">
                            </a>
                            <div class="img-box">
                                    <img ng-src="{{img_path + clothes.image_front}}" alt="Clothes">
                            </div>
                        </div>
                        <div class="closet-item-window" id="ci-window">
                            <a class="closet-item-close ci-close">
                                <img src="img/icon_close.jpg" alt="Close">
                            </a>
                            <div class="col-12">
                                <h4>What do you want to do?</h4>
                            </div>
                            <div class="col-12">
                    <a ng-click="measure(clothes)" class="btn-stroke-golden-bk-lg" type="button">Measure</a>
                </div>
                <div class="col-12">
                    <a ng-click="shareDesign(clothes)" class="btn-stroke-golden-bk-lg" type="button">Share</a>
                </div>
                <div class="col-12">
                    <a ng-click="addToCart(clothes)" class="btn-stroke-golden-bk-lg" type="button">Add to Cart</a>
                </div>
                <div class="col-12">
                    <a ng-click="delete(clothes)"  class="btn-stroke-golden-bk-lg" type="button">Delete</a>
                </div>
                        </div>
                        <script>
                            $(document).ready(function() {
                                $("a[rel=ci-modal]").click(function(ev) {
                                    ev.preventDefault();
                                    var id = $(this).attr("href");
                                    var alturaTela = $(document).height();
                                    var larguraTela = $(window).width();
                                    $(this).parent().parent().children('#ci-window').show();
                                });
                                $('.ci-close').click(function(ev) {
                                    ev.preventDefault();
                                    $(this).parent().parent().children('#ci-window').hide();
                                });
                            });
                        </script>
                    </div>
            <!-- END -->
        </div>
    </div>
    <div ng-include="'partials/menu_closet.html'"></div>
</div>
<!-- FILTER -->
<div class="filter-window" id="filter-window">
    <a class="filter-close">
        <img src="img/icon_close.jpg" alt="Close">
    </a>
    <div class="col-12">
        <h4>Filter by</h4>
    </div>
    <div class="col-12">
        <a ng-click="orderBy(1)"  class="btn-stroke-golden-bk-lg" type="button">Category</a>
    </div>
    <div class="col-12">
        <a ng-click="orderBy(2)" class="btn-stroke-golden-bk-lg" type="button">Date</a>
    </div>
    <div class="col-12">
        <a ng-click="orderBy(3)" class="btn-stroke-golden-bk-lg" type="button">Occasion</a>
    </div>
</div>
<div id="filter-mask"></div>
<div ng-include="'partials/user_menu.html'"></div>
<div ng-include="'partials/alert.html'"></div>
