<div class="s05_not_logged h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div> 
    <div class="col-12 h15 header">
        <div class="col-2 h100 aux-left">
            <a href="#signup">
                <img src="img/icon_register.svg" alt="Register">
            </a>
        </div>
        <div class="col-8 h100 logo">
            <img class="main-logo" src="img/main_logo.svg" alt="My Design App">
        </div>
        <div class="col-2 h100 aux-left">
            <a href="#signin">
                <img src="img/icon_login.svg" alt="Login">
            </a>
        </div>
    </div>
    <div class="col-12 h75 main">
            <div class="col-12 h100 dash_box" ng-click="chooseShape()">
            <div class="col-12 h15">
                <h1>Create your <span>custom</span> designs</h1>
            </div>
            <div class="col-12 h55">
                <ul>
                    <li>
                        <img src="img/icon_dress.png" alt="Dress">
                        <p>Choose Your Shape</p>
                    </li>
                    <li>
                        <img src="img/icon_fabric.png" alt="Fabric">
                        <p>Choose Your Fabric</p>
                    </li>
                    <li>
                        <img src="img/icon_creation.png" alt="Creation">
                        <p>See your Creation</p>
                    </li>
                    <li>
                        <img src="img/icon_measure.png" alt="Measure">
                        <p>Measure Yourself</p>
                    </li>
                    <li>
                        <img src="img/icon_gift.png" alt="Ready">
                        <p>Ready in 7 Days</p>
                    </li>
                </ul>
            </div>
            <div class="col-12 h30 design-footer">
                <div class="button-box">
                    <a class="btn-fill-lightgray-md" type="button">Design Now!</a>
                    <h2>Made In Canada</h2>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'partials/menu_dashboard.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<div ng-include="'partials/user_menu.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>
