<div class="s22_ready_to_measure h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div> 
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a href="#/choosefabric">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Step <span>02</span></h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h5 profile_label">
        <p>Ready to measure yourself?</p>
    </div>
    <div class="col-12 h70 main clothes-confirmation">
        <div class="col-12 h75">
                <div ng-show="user.logged" class="closet-shortcut">
                    <a class="closet-modal" ng-click="add_to_closet()">
                        <img src="img/icon_closet_sm.svg" alt="Closet">
                    </a>
                </div>
                <div class="col-12 h100 main fabric_slider">
                
                <style>
                    .panzoom {
                        position: relative;
                        width: 100%;
                    }
                    
                </style>
                <section id="y-only" class="h100">
                    <style>
                        #set .parent {
                            text-align: center;
                        }
                        
                        #set .parent .panzoom {
                            border: 3px solid;
                        }
                        
                        #set .parent>div {
                            display: inline-block;
                            width: 30%;
                        }
                    </style>
                    <div class="parent clearfix h100">
                        <div class="panzoom h100">
                            <img class="clothe-img clothe-img-1 clothes-active" ng-src="{{img_path + model.image_front}}" alt="Model">
                            <img class="clothe-img clothe-img-2" ng-src="{{img_path + model.image_left}}" alt="Model">
                            <img class="clothe-img clothe-img-3" ng-src="{{img_path + model.image_back}}" alt="Model">
                            <img class="clothe-img clothe-img-4" ng-src="{{img_path + model.image_right}}" alt="Model">
                        </div>
                    </div>
                    <button href="#!" class="zoom-in">
                       <img src="img/icon_zoom_in.svg" alt="Zoom In">
                    </button>
                    <button class="zoom-out" style="display: none;"></button>
                    <button href="#!" class="reset">
                        <img src="img/icon_zoom_out.svg" alt="Zoom Out">
                    </button>
                    <button href="#!" class="spin">
                                               <img src="img/icon_spin.svg" alt="Spin">

                        
                    </button>
                    <script>
                        (function() {
                            var $section = $('#y-only');
                            $section.find('.panzoom').panzoom({
                                $zoomIn: $section.find(".zoom-in"),
                                $zoomOut: $section.find(".zoom-out"),
                                $reset: $section.find(".reset"),
                            });
                        })();
                    </script>
                </section>
    
    </div>
            </div>
        <div class="col-12 h25">
            <div class="clothes-info">
                <h2>{{clothes.name}}</h2>
                <p>Starting price: ${{clothes.price}}</p>
                <p ng-show="fabric.price > 0">Fabric: +${{fabric.price}}</p>
                <a href="#/sizechart" class="print-yes">Yes</a>
                <a href="#/choosefabric" class="print-no">No</a>
            </div>
        </div>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
    <div ng-include="'partials/alert.html'"></div>
    
    <!-- CLICK NO MODAL -->
    <div class="clickno-window" id="clickno-window">
        <a href="#" class="clickno-close">
            <img src="img/icon_close.jpg" alt="Close">
        </a>
        <div class="col-12">
            <h4>What do you want to do now?</h4>
        </div>
        <div class="col-12">
            <a href="#closet" class="btn-stroke-golden-bk-lg" type="button">Add to Closet</a>
        </div>
        <div class="col-12">
            <a href="#choosecategory" class="btn-stroke-golden-bk-lg" type="button">Start New Design</a>
        </div>
        <div class="col-12">
            <a href="#sizechart" class="btn-stroke-golden-bk-lg" type="button">Measure Yourself</a>
        </div>
    </div>
    <div id="clickno-mask"></div>
    <!-- CLICK NO MODAL -->
</div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>