    <div class="s12-1_share_mydesign_app h100">
        <div class="col-12 h15 header">
            <div class="arrow h100">
                <a ng-click="back()">
                    <img src="img/icon_arrow.svg" alt="Back">
                </a>
            </div>
            <div class="col-12 h100 main-title">
                <h1>Share</h1>
            </div>
        </div>
        <div class="col-12 h5 marble">
            <h2>Share the My Design App</h2>
        </div>
        <div class="col-12 h25 main share-box">
            <div class="col-3 h100 share-image">
                <img src="{{img_path + model.image_front}}" alt="MyDesign App" class="icon">
            </div>
            <div class="col-9 h100 share-text">
                <textarea name="" id="" cols="30" rows="10">Hey there, Check the design created by me on My Design App. http://goo.ca/Sw14LJ7</textarea>
            </div>
        </div>
        <div class="col-12 h45 social-list">
            <ul>
                <li>
                    <a href="#"
                        socialshare
                        socialshare-provider="facebook"
                        socialshare-url="{{social_link}}">
                        <img src="img/icon_fb.jpg" alt="MyDesign App" class="social-icon">
                        <p>Facebook</p>
                        <img src="img/icon_arrow_fw.jpg" alt="Proceed" class="social-proceed">
                    </a>
                </li>
                <li>
                    <a href="{{tw_link}}">
                        <img src="img/icon_tw.jpg" alt="MyDesign App" class="social-icon">
                        <p>Twitter</p>
                        <img src="img/icon_arrow_fw.jpg" alt="Proceed" class="social-proceed">
                    </a>
                </li>
                <li>
                    <a href="#"
                        socialshare
                        socialshare-provider="pinterest"
                        socialshare-text="Hey there, I'm using My Design App to create amazing custom clothes for me. http://mydesignclothes.com"
                        socialshare-url="http://mydesignclothes.com"
                        socialshare-media="{{img_path + model.image_front}}">
                        <img src="img/icon_pt.jpg" alt="MyDesign App" class="social-icon">
                        <p>Pinterest</p>
                        <img src="img/icon_arrow_fw.jpg" alt="Proceed" class="social-proceed">
                    </a>
                </li>
            </ul>
        </div>
        <div ng-include="'partials/menu_design.html'"></div>
    </div>
    <div ng-include="'partials/alert.html'"></div>
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <script type="text/javascript" src="js/main.js"></script>