
<div class="col-12 h100 s01-04-slider">
    <section class="h100">
        <div class="row h100">
            <div class="large-12 columns h100">
                <div class="owl-carousel owl-theme h100">
                    <div class="item item-1 h100">
                        <h1>Design It</h1>
                        <span class="cover">
                            Swipe to Continue
                        </span>
                    </div>
                    <div class="item item-2 h80">
                        <h1>Create it</h1>
                    </div>
                    <div class="item item-3 h80">
                        <h1>Wear It</h1>
                    </div>
                    <div class="item item-4 h100 login">
                        <div class="h10"></div>
                        <div class="h5">
                            <img src="img/scizor.png" alt="Scizor">
                        </div>
                        <div class="h10">
                            <h1>Let's Get Started!</h1>
                        </div>
                        <div class="h15">
                            <p>Create custom women's clothing with My Design.</p>
                        </div>
                        <div class="h15">
                            <a href="#signup" class="btn-stroke-golden-lg">Sign Up</a>
                        </div>
                        <div class="h20">
                            <a href="#notlogged" class="btn-stroke-black-lg continue-without">Continue Without Login</a>
                            <a href="#signin" class="already-user">Already a User? <span>Sign In</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="h20 btn-footer">
        <div class="col-6">
            <a href="#signup" class="btn-stroke-black-lg">Sign Up</a>
        </div>
        <div class="col-6">
            <a href="#signin" class="btn-stroke-golden-lg" type="button">Log In</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>
